.navbar{
    /* padding: 10px 15px;
    border: 1px solid rgb(103, 103, 103); */
}

.navbar__list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(103, 103, 103);
}

.navbar__list > li{ 
    margin: 0px 10px;
    cursor: pointer;
}

.navbar__list > li:hover{
    color: #fff;
}

.navbar__item--active {
  color: white;
  background: rgba(255,255,255,0.15);
}
.navbar__item {
  transition: all 0.15s ease;
}

.navbar__item:hover {
  background: rgba(255,255,255,0.1);
  border-radius: 20px;

}
.navbar__item a {
  padding: 10px 14px;
  border-radius: 20px;
  display: block;
}

.navbar__item--active::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 50%;
  width: 4px;
  height: 4px;
  background: white;
  border-radius: 50%;
  transform: translateX(-50%);
}

@media (max-width: 980px) {
  .navbar__list {
      display: flex;
      flex-direction: column;
    flex-direction: column-reverse;
    gap: 40px;

  }
}